<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AWS Developer Podcast</title>
  <link rel="shortcut icon" href="favicon.ico" />
<script defer src="js/main.js"></script><link href="css/main.css" rel="stylesheet"></head>
<body>
  <!-- Header -->
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div class="header__background bg-light-subtle w-100 d-flex justify-content-center my-4">
              <div class="header__content w-100 d-flex align-items-center px-3">

                <div class="pe-4">
                  <svg class="header__logo">
                    <use xlink:href="images/aws-logo.svg#logo"></use>
                  </svg>
                </div>

                <p class="m-0 pe-4 fw-bold">AWS Developer Podcast</p>
    
                <div class="form-check form-switch ms-auto">
                  <input class="form-check-input hover-form-switch cursor-pointer" type="checkbox" role="switch" id="theme-toggle">
                  <label class="form-check-label fw-medium cursor-pointer" for="theme-toggle">Dark mode</label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  <!-- End header -->

  <!-- Hero -->
    <section class="hero">
      <div class="container">
        <div class="row justify-content-between py-5 py-md-8">
          <div class="col-12 col-md-6 col-lg-5 d-flex flex-column justify-content-center order-1 order-md-0 pt-4 pt-md-0">
            
            <p class="hero__supertitle text-uppercase fw-bold mb-5">Welcome builders</p>

            <h1 class="fw-bold mb-5">The AWS Developers Podcast</h1>

            <p class="lead mb-0">Stay updated on the latest AWS news and insights, wherever you are, whenever you want.</p>

          </div>

          <div class="col-12 col-md-6 d-flex align-items-center order-0 order-md-1">
            <img src="images/hero-image.png" alt="Hero" class="w-100">
          </div>
        </div>
      </div>
    </section>
  <!-- End hero -->

  <!-- Featured episode -->
    <section class="featured-episode">
      <div class="container">
        <div class="row py-5 py-md-8">
          <div class="col-12">
            <div class="featured-episode__card h-100 hover-gradient-2 position-relative overflow-hidden p-4 p-md-6">

              <div class="featured-episode__background d-none d-md-block position-absolute"  style="background-image: url('images/featured-episode-bg.png');"></div>

              <div class="featured-episode__background-mb d-block d-md-none position-absolute"  style="background-image: url('images/featured-episode-bg-mb.png');"></div>

              <div class="featured-episode__content">
                <p class="featured-episode__tag text-uppercase text-white fw-bold mb-9"><span>Episode 133</span></p>
  
                <p class="text-white mb-3">4 Oct • 51 min 27 sec</p>
  
                <p class="text-white fw-medium mb-3">Speakers: Massimo Re Ferrè - AWS • Brooke Jamieson - AWS</p>
  
                <h3 class="text-white mb-3">How generative AI can help developers</h3>
  
                <p class="text-white mb-0">In this episode of the AWS Developers Podcast, Seb and Brooke are joined by Massimo Refere, a senior principal product manager in the Amazon Q team. They discuss how generative AI can help developers and introduce Amazon Q Developer, a generative AI assistant for work.</p>
              </div>

              <div>
                <div class="episode__cta pt-7">
                  <!-- for phase 2 when detail pages are available -->
                  <a href="./detail.html" class="btn btn-link stretched-link cta-with-icon text-white text-decoration-none px-0">
                    <div class="cta-anim-text-left">
                      <span class="cta__text cta__text--left">Learn more</span>
                      <span class="cta__icon">
                        <svg>
                          <use xlink:href="images/arrow-right.svg#arrow-right"></use>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>

                <div class="episode__play position-absolute">
                  <!-- To allow the button to play audio files, include the data-audio-src with the url to the audio file along with a data-title and data-details for the track information -->
                  <button class="btn btn-play bg-lighter text-darker hover-border-darker cta-with-icon" data-audio-src="audio/audio.mp3" data-title="Episode 133: How generative AI can help developers" data-details="Speakers: Massimo Re Ferrè - AWS • Brooke Jamieson - AWS">
                    <div class="cta-anim-text-right">
                      <span class="cta__icon">
                        <svg>
                          <use xlink:href="images/play.svg#play"></use>
                        </svg>
                      </span>
                      <span class="cta__text cta__text--right">Play</span>
                    </div>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- End featured episode -->

  <!-- Section text -->
    <section class="section-text">
      <div class="container">
        <div class="row justify-content-between py-5 py-md-8">
          <div class="col-12 col-md-6 col-lg-5">

            <h2 class="fw-bold mb-5">The podcast</h2>

            <h4 class="fw-medium mb-3">Stacks of audio content that speaks your language</h4>

            <p class="mb-0">Keep an ear to the ground with an eye to your future: tune in for fresh content that will build your knowledge and propel your career. We will cover everything from emerging tech trends right down to the details of AWS tools and processes. Expert guest speakers offer insights into real-world projects, helping you develop a deeper understanding of AWS to reach solutions faster. Curious developers jump straight in; this is the podcast you have been looking for!</p>

          </div>

          <div class="col-12 col-md-6 pt-4 pt-md-0">

            <h4 class="fw-medium mb-5">Where to tune in</h4>

            <div class="row row-gap-4 mb-5">
              <div class="col-6">
                <a href="#" target="_blank" class="logo-badge text-body-emphasis">
                  <div class="d-flex align-items-center column-gap-3">
                    <svg class="section-text__icon">
                      <use xlink:href="images/amazon-music.svg#amazon-music"></use>
                    </svg>
                    <p class="mb-0">Amazon Music</p>
                  </div>
                </a>
              </div>

              <div class="col-6">
                <a href="#" target="_blank" class="logo-badge text-body-emphasis">
                  <div class="d-flex align-items-center column-gap-3">
                    <svg class="section-text__icon">
                      <use xlink:href="images/apple-podcast.svg#apple-podcast"></use>
                    </svg>
                    <p class="mb-0">Apple Podcast</p>
                  </div>
                </a>
              </div>

              <div class="col-6">
                <a href="#" target="_blank" class="logo-badge text-body-emphasis">
                  <div class="d-flex align-items-center column-gap-3">
                    <svg class="section-text__icon dark-d-none">
                      <use xlink:href="images/spotify.svg#spotify"></use>
                    </svg>
                    <svg class="section-text__icon light-d-none">
                      <use xlink:href="images/spotify-alt.svg#spotify-alt"></use>
                    </svg>
                    <p class="mb-0">Spotify</p>
                  </div>
                </a>
              </div>

              <div class="col-6">
                <a href="#" target="_blank" class="logo-badge text-body-emphasis">
                  <div class="d-flex align-items-center column-gap-3">
                    <svg class="section-text__icon">
                      <use xlink:href="images/youtube-music.svg#youtube-music"></use>
                    </svg>
                    <p class="mb-0">YouTube Music</p>
                  </div>
                </a>
              </div>
            </div>

            <h4 class="fw-medium mb-3">Your Builder ID</h4>

            <p class="mb-0">An AWS Builder ID unlocks a personal profile that's separate from your regular AWS accounts. It provides free private access to Amazon Q Developer and Code Catalyst, 600+ free Skill Builder courses, community resources, and more. Your AWS Builder ID is designed to accompany you through your goals—it's the perfect place to shape your skills, experiment without risk, and build a richer knowledge base of the AWS suite.</p>

            <div class="mt-5">
              <a href="#" target="_blank" class="btn bg-dark-subtle text-dark-emphasis hover-gradient-1">Sign up</a>
            </div>

          </div>
        </div>
      </div>
    </section>
  <!-- End section text -->

  <!-- Episodes -->
    <section class="episodes">
      <div class="container">
        <div class="row pt-5 pt-md-8">
          <div class="col-12">
            <h2 class="fw-bold mb-5">Explore all episodes</h2>
          </div>
        </div>

        <div class="row row-gap-4 pb-5 pb-md-8" id="episodes_cards">
            <!-- Display 11 of these episode cards and follow up with a show more card, i will show 3 for reference and a follow up card -->

          <!-- Episode card start -->
          <div class="col-12 col-md-6">
            <div class="episode__card h-100 bg-light-subtle hover-gradient-2 position-relative p-4 p-md-6">

              <div class="d-flex justify-content-between mb-4">
                <p class="episode__tag text-uppercase text-white fw-bold mb-0"><span>Episode 132</span></p>
                
                <p class="small mb-3">4 Oct • 51 min 27 sec</p>
              </div>

              <div class="episode__content">
                <h4 class="mb-3">IAM Identity center, Part 1</h4>
  
                <p class="small fw-medium mb-3">Speakers: Massimo Re Ferrè - AWS • Brooke Jamieson - AWS</p>
  
                <!-- Could you truncate this using a filter/helper function in your template engine? and end with a ... -->
                <p class="small mb-0">In this episode of the AWS Developers Podcast, Seb and Brooke are joined by Massimo Refere, a senior principal product manager in the Amazon Q team. They discuss how generative AI can help developers and introduce Amazon Q Developer, a generative AI assistant for work.</p>
              </div>

              <div>
                <div class="episode__cta pt-9">
                  <!-- for phase 2 when detail pages are available -->
                  <a href="./detail.html" class="btn btn-link stretched-link cta-with-icon text-light-emphasis text-decoration-none px-0">
                    <div class="cta-anim-text-left">
                      <span class="cta__text cta__text--left">Learn more</span>
                      <span class="cta__icon">
                        <svg>
                          <use xlink:href="images/arrow-right.svg#arrow-right"></use>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>

                <div class="episode__play position-absolute">
                  <!-- To allow the button to play audio files, include the data-audio-src with the url to the audio file along with a data-title and data-details for the track information -->
                  <button class="btn btn-play position-relative bg-dark-subtle text-dark-emphasis hover-bg-lighter hover-text-darker hover-border-darker icon-only cta-with-icon" data-audio-src="audio/audio.mp3" data-title="Episode 132: IAM Identity center, Part 1" data-details="Speakers2: Massimo Re Ferrè - AWS • Brooke Jamieson - AWS">
                    <div>
                      <span class="cta__icon">
                        <svg>
                          <use xlink:href="images/play.svg#play"></use>
                        </svg>
                      </span>
                    </div>
                  </button>
                </div>
              </div>

            </div>
          </div>
          <!-- Episode card end -->

          <!-- Episode card start -->
          <div class="col-12 col-md-6">
            <div class="episode__card h-100 bg-light-subtle hover-gradient-2 position-relative p-4 p-md-6">

              <div class="d-flex justify-content-between mb-4">
                <p class="episode__tag text-uppercase text-white fw-bold mb-0"><span>Episode 132</span></p>
                
                <p class="small mb-3">4 Oct • 51 min 27 sec</p>
              </div>

              <div class="episode__content">
                <h4 class="mb-3">IAM Identity center, Part 1</h4>
  
                <p class="small fw-medium mb-3">Speakers: Massimo Re Ferrè - AWS • Brooke Jamieson - AWS</p>
  
                <!-- Could you truncate this using a filter/helper function in your template engine? and end with a ... -->
                <p class="small mb-0">In this episode of the AWS Developers Podcast, Seb and Brooke are joined by Massimo Refere, a senior principal product manager in the Amazon Q team. They discuss how generative AI can help developers and introduce Amazon Q Developer, a generative AI assistant for work.</p>
              </div>

              <div>
                <div class="episode__cta pt-9">
                  <!-- for phase 2 when detail pages are available -->
                  <a href="./detail.html" class="btn btn-link stretched-link cta-with-icon text-light-emphasis text-decoration-none px-0">
                    <div class="cta-anim-text-left">
                      <span class="cta__text cta__text--left">Learn more</span>
                      <span class="cta__icon">
                        <svg>
                          <use xlink:href="images/arrow-right.svg#arrow-right"></use>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>

                <div class="episode__play position-absolute">
                  <!-- To allow the button to play audio files, include the data-audio-src with the url to the audio file along with a data-title and data-details for the track information -->
                  <button class="btn btn-play position-relative bg-dark-subtle text-dark-emphasis hover-bg-lighter hover-text-darker hover-border-darker icon-only cta-with-icon" data-audio-src="audio/audio.mp3" data-title="Episode 132: IAM Identity center, Part 1" data-details="Speakers2: Massimo Re Ferrè - AWS • Brooke Jamieson - AWS">
                    <div>
                      <span class="cta__icon">
                        <svg>
                          <use xlink:href="images/play.svg#play"></use>
                        </svg>
                      </span>
                    </div>
                  </button>
                </div>
              </div>

            </div>
          </div>
          <!-- Episode card end -->

          <!-- Episode card start -->
          <div class="col-12 col-md-6">
            <div class="episode__card h-100 bg-light-subtle hover-gradient-2 position-relative p-4 p-md-6">

              <div class="d-flex justify-content-between mb-4">
                <p class="episode__tag text-uppercase text-white fw-bold mb-0"><span>Episode 132</span></p>
                
                <p class="small mb-3">4 Oct • 51 min 27 sec</p>
              </div>

              <div class="episode__content">
                <h4 class="mb-3">IAM Identity center, Part 1</h4>
  
                <p class="small fw-medium mb-3">Speakers: Massimo Re Ferrè - AWS • Brooke Jamieson - AWS</p>
  
                <!-- Could you truncate this using a filter/helper function in your template engine? and end with a ... -->
                <p class="small mb-0">In this episode of the AWS Developers Podcast, Seb and Brooke are joined by Massimo Refere, a senior principal product manager in the Amazon Q team. They discuss how generative AI can help developers and introduce Amazon Q Developer, a generative AI assistant for work.</p>
              </div>

              <div>
                <div class="episode__cta pt-9">
                  <!-- for phase 2 when detail pages are available -->
                  <a href="./detail.html" class="btn btn-link stretched-link cta-with-icon text-light-emphasis text-decoration-none px-0">
                    <div class="cta-anim-text-left">
                      <span class="cta__text cta__text--left">Learn more</span>
                      <span class="cta__icon">
                        <svg>
                          <use xlink:href="images/arrow-right.svg#arrow-right"></use>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>

                <div class="episode__play position-absolute">
                  <!-- To allow the button to play audio files, include the data-audio-src with the url to the audio file along with a data-title and data-details for the track information -->
                  <button class="btn btn-play position-relative bg-dark-subtle text-dark-emphasis hover-bg-lighter hover-text-darker hover-border-darker icon-only cta-with-icon" data-audio-src="audio/audio.mp3" data-title="Episode 132: IAM Identity center, Part 1" data-details="Speakers2: Massimo Re Ferrè - AWS • Brooke Jamieson - AWS">
                    <div>
                      <span class="cta__icon">
                        <svg>
                          <use xlink:href="images/play.svg#play"></use>
                        </svg>
                      </span>
                    </div>
                  </button>
                </div>
              </div>

            </div>
          </div>
          <!-- Episode card end -->

          <!-- Show more card, use the pagination method you spoke of in the templating engine. Also since this was set up to be like an infinite scroller, if that's not possible and classic pagination is required, perhaps, just use two of these button cards for previous 10 and next 10, then you only need to show initially 10 instead of 11. for mobile you can add order classes to display the two buttons appropriately or you can add the button cards to a seperate bootstrap row and have them side by side -->

          <!-- Show more card start -->
          <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
            <div class="py-5">
              <button class="btn bg-light text-dark hover-gradient-1 cta-with-icon">
                <span class="cta__text cta__text--left">Show 10 more</span>
                <span class="cta__icon">
                  <svg>
                    <use xlink:href="images/arrow-right.svg#arrow-right"></use>
                  </svg>
                </span>
              </button>
            </div>
          </div>
          <!-- Show more card end -->

        </div>

        <!-- anchor for infinite scrolling -->
        <span id="scrollAnchor"></span>

      </div>
    </section>
  <!-- End episodes -->

  <!-- Footer -->
    <footer class="footer bg-light-subtle">
      <div class="container">
        <div class="row py-4">
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
              <div class="pe-4">
                <svg class="footer__logo">
                  <use xlink:href="images/aws-logo.svg#logo"></use>
                </svg>
              </div>

              <div>
                <a href="#" class="btn bg-dark-subtle text-dark-emphasis hover-gradient-1">Visit French Podcast site</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row pb-4">
          <div class="col-12">
            <div class="border-bottom border-light-subtle"></div>
          </div>
        </div>

        <div class="row pb-4 justify-content-md-between align-items-center">
          <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center justify-content-md-start column-gap-3">
              <div>
                <a href="#" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="images/youtube.svg#youtube"></use>
                  </svg>
                </a>
              </div>
              
              <div>
                <a href="#" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="images/linkedin.svg#linkedin"></use>
                  </svg>
                </a>
              </div>

              <div>
                <a href="#" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="images/instagram.svg#instagram"></use>
                  </svg>
                </a>
              </div>

              <div>
                <a href="#" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="images/x.svg#x"></use>
                  </svg>
                </a>
              </div>

              <div>
                <a href="#" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="images/bluesky.svg#bluesky"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 pt-4 pt-md-0">
            <p class="smaller text-center text-md-end mb-0"><span class="pe-3"><a href="#" class="text-body-emphasis hover-text-info hover-text-info-subtle">Privacy policy</a></span>© Copyright all rights reserved</p>
          </div>
        </div>
      </div>
    </footer>
  <!-- End footer -->

  <!-- Audio player -->
    <div id="audio-player" class="bg-light-subtle">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-7 py-3 position-relative">
            <div class="audio-controls d-flex align-items-center column-gap-4">
              <div class="audio-player__seek-slider-container">
                <div class="progress-fill"></div>
                <input type="range" id="progress" class="audio-player__seek-slider" value="0" step="1" min="0" max="100">
              </div>

              <button id="play-pause" class="btn position-relative bg-dark-subtle text-dark-emphasis hover-bg-lighter hover-text-darker hover-border-darker icon-only cta-with-icon">
                <span class="cta__icon cta__icon--play">
                  <svg>
                    <use xlink:href="images/play.svg#play"></use>
                  </svg>
                </span>
                <span class="cta__icon cta__icon--pause d-none">
                  <svg>
                    <use xlink:href="images/pause.svg#pause"></use>
                  </svg>
                </span>
              </button>

              <div>
                <p class="audio-player__title fw-medium mb-1"></p>
                <p class="audio-player__details smaller mb-0"></p>
              </div>
              
              <button id="close" class="btn position-relative text-light-emphasis hover-text-info hover-text-info-subtle border-0 icon-only cta-with-icon ms-auto">
                <span class="cta__icon">
                  <svg>
                    <use xlink:href="images/close.svg#close"></use>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- End audio player -->
</body>
</html>