  <!-- Header -->
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div class="header__background bg-light-subtle w-100 d-flex justify-content-center my-4">
              <div class="header__content w-100 d-flex align-items-center px-3">

                <div class="pe-4">
                  <svg class="header__logo">
                    <use xlink:href="{{site.baseUrl}}/images/aws-logo.svg#logo"></use>
                  </svg>
                </div>

                <p class="m-0 pe-4 fw-bold">{{site.title}}</p>
    
                <div class="form-check form-switch ms-auto">
                  <input class="form-check-input hover-form-switch cursor-pointer" type="checkbox" role="switch" id="theme-toggle">
                  <label class="form-check-label fw-medium cursor-pointer" for="theme-toggle">{{dark_mode}}</label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  <!-- End header -->