<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url={{baseUrl}}/{{page.to}}">
    <link rel="canonical" href="{{baseUrl}}/{{page.to}}">
    <script>window.location.href = "{{baseUrl}}/{{page.to}}";</script>
</head>
<body>
    <p>Redirecting to <a href="{{baseUrl}}/{{page.to}}">{{baseUrl}}/{{page.to}}</a></p>
</body>
</html>
