
<!-- About section -->
    <section class="section-text">
      <div class="container">
        <div class="row justify-content-between pt-5 pt-md-8">
          <div class="col-12 col-md-10 col-lg-8">

            <h2 class="fw-bold mb-5">Au sujet de cet épisode</h2>

            <p>{{ page.description }}</p>

            <p class="lead">Links</p>

            <p class="smaller mb-0">Vous trouverez ici les liens vers les outils, technologies et autres artciles mentionnés dans cet épsiode.</p>

          </div>
        </div>

        <div class="row row-gap-5 pt-4 pb-5 pb-md-8">

          <!-- As many link cards as required, display 5, then if more, a view all button. Not too sure how you want to display/hide the cards, in your template engine, maybe you can add the class' 'more-links d-none' to the cards if more than 5 link cards in the loop, then add an event listener to the 'view all' button targetting the 'more-links' class to toggle 'd-none' ? let me know if you need me to configure it in a specific way. -->

					{{#page.links}}
          <!-- Link card -->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="link-card p-4 h-100 gradient-1 d-flex flex-column">
              <p class="my-4 text-white">{{ text }}</p>

              <div class="mt-auto">
                <a href="{{ link }}?trk=fe94e377-5bf5-4cbb-a4f7-4ebe1cce4e9f&sc_channel=podcast" class="btn btn-link stretched-link cta-with-icon text-white text-decoration-none px-0">
                  <div class="cta-anim-text-left">
                    <span class="cta__text cta__text--left">Learn more</span>
                    <span class="cta__icon">
                      <svg>
                        <use xlink:href="{{site.baseUrl}}/images/arrow-right.svg#arrow-right"></use>
                      </svg>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- End link card -->
					{{/page.links}}

          <!-- View all card -->
					<!--
          <div class="col-6 col-md-4 d-flex align-items-center justify-content-center">
            <div class="py-5">
              <button class="btn bg-light text-dark hover-gradient-1 cta-with-icon">
                <span class="cta__text cta__text--left">View all</span>
                <span class="cta__icon">
                  <svg>
                    <use xlink:href="{{site.baseUrl}}/images/arrow-right.svg#arrow-right"></use>
                  </svg>
                </span>
              </button>
            </div>
          </div>
					-->
          <!-- End view all card -->

        </div>
      </div>
    </section>

  <!-- End about section -->
