  <!-- Footer -->
    <footer class="footer bg-light-subtle">
      <div class="container">
        <div class="row py-4">
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
              <div class="pe-4">
                <svg class="footer__logo">
                  <use xlink:href="{{baseUrl}}/images/aws-logo.svg#logo"></use>
                </svg>
              </div>

              <div>
                <a href="{{site.developers_podcast_url}}" class="btn bg-dark-subtle text-dark-emphasis hover-gradient-1">Listen to the AWS Developers Podcast</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row pb-4">
          <div class="col-12">
            <div class="border-bottom border-light-subtle"></div>
          </div>
        </div>

        <div class="row pb-4 justify-content-md-between align-items-center">
          <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center justify-content-md-start column-gap-3">
              <div>
                <a href="{{site.youtube}}" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="{{baseUrl}}/images/youtube.svg#youtube"></use>
                  </svg>
                </a>
              </div>
              
              <div>
                <a href="{{site.linkedin}}" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="{{baseUrl}}/images/linkedin.svg#linkedin"></use>
                  </svg>
                </a>
              </div>

              <div>
                <a href="{{site.instagram}}" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="{{baseUrl}}/images/instagram.svg#instagram"></use>
                  </svg>
                </a>
              </div>

              <div>
                <a href="{{site.twitter}}" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="{{baseUrl}}/images/x.svg#x"></use>
                  </svg>
                </a>
              </div>

              <div>
                <a href="{{site.bluesky}}" target="_blank" class="footer__social-icon text-body-emphasis hover-text-info hover-text-info-subtle">
                  <svg>
                    <use xlink:href="{{baseUrl}}/images/bluesky.svg#bluesky"></use>
                  </svg>
                </a>
              </div>

            </div>
          </div>

          <div class="col-12 col-md-6 pt-4 pt-md-0">
            <p class="smaller text-center text-md-end mb-0"><span class="pe-3"><a href="https://aws.amazon.com/privacy/" target="_blank" class="text-body-emphasis hover-text-info hover-text-info-subtle">Privacy policy</a></span>© {{site.copyright_year}}, Amazon Web Services, Inc. or its affiliates. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  <!-- End footer -->